GoHighlevel > Slack/Setting Call Booked/Organic Setting Call Booked _ Slack.json
{
  "name": "Organic Setting Call Booked > Slack",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fromghl",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "cce40e85-88ad-4b5b-9b33-dccc48b3e62d",
      "name": "Webhook",
      "webhookId": "a5150e0a-0af2-42b4-9a3b-dcebec490c58"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "210ab2d5-a088-416f-8c64-14b91d4931a0",
              "name": "body.name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "9512c765-d926-4a1f-a37b-8c0fb3c68f73",
              "name": "body.email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "e082bce6-a169-4134-9352-f3a15c683f36",
              "name": "body.phone",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "69f880c5-392b-4ffe-b9e0-3b3b26101b7f",
              "name": "body.source",
              "value": "={{ $json.body.source }}",
              "type": "string"
            },
            {
              "id": "499cf37d-b849-4b59-a484-d23de7d6b512",
              "name": "body.source2",
              "value": "={{ $json.body.source2 }}",
              "type": "string"
            },
            {
              "id": "ae6455fa-a23e-46e4-ad39-4c9e01bb44be",
              "name": "body.date",
              "value": "={{ $json.body.date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "7cc57607-b0f8-498a-ad05-8f796a2a0adb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "o8ehBQPfwMb9eRPN",
          "mode": "list",
          "cachedResultUrl": "/workflow/o8ehBQPfwMb9eRPN",
          "cachedResultName": "AI Agent Regulator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.body.name }}",
            "Phone": "={{ $json.body.phone }}",
            "Email": "={{ $json.body.email }}",
            "Source": "={{ $json.body.source }} {{ $json.body.source2 }}",
            "Date": "={{ $json.body.date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        624,
        0
      ],
      "id": "21ea285c-d3f0-4e61-8054-57cdce3ec1a6",
      "name": "Call 'AI Agent Regulator'"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "03c20fb7-5ae3-4dc4-8ad0-4cd74191588a",
      "name": "Wait",
      "webhookId": "8ade5c14-4bbe-47a4-bb21-ffbb562dc51d"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "kokoumejoshua.app.n8n.cloud",
            "user-agent": "axios/1.13.2",
            "content-length": "181",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.56.25.163",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9d79bed12c5edad8-ORD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "traceparent": "00-aa12ec133f1f2f580867873acd26f3f4-c271225a26aa0900-01",
            "x-forwarded-for": "34.56.25.163, 172.71.254.227",
            "x-forwarded-host": "kokoumejoshua.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-113-7f587957c7-66v42",
            "x-is-trusted": "yes",
            "x-real-ip": "34.56.25.163"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "tJ36fQktcNgeCKQLbL5z",
            "name": "Leon Schelbras",
            "email": "leon.schelbras0506@gmail.com",
            "phone": "+49 160 90304245",
            "source": "Organic - Blueprint",
            "source2": "null",
            "date": "null"
          },
          "webhookUrl": "https://kokoumejoshua.app.n8n.cloud/webhook/fromghl",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'AI Agent Regulator'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'AI Agent Regulator'": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3153bd7e-caf4-4e8a-b92b-8a81aedd0c8e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4fbaace3ac72852af5561fc6af9694adddedab2a3813f8c9dd869456b6275acb"
  },
  "id": "U5Ro8oRmUBLqzU3p",
  "tags": []
}