GoHighlevel > Slack/Setting Call Booked/Paid Setting Call Booked _ Slack.json
{
  "name": "Paid Setting Call Booked > Slack",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "paidghl",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "ee17c04b-e938-4d1e-85b6-d8b7475b9153",
      "name": "Webhook",
      "webhookId": "6c12e32d-48bf-4b50-8355-d96758977f91"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "210ab2d5-a088-416f-8c64-14b91d4931a0",
              "name": "body.name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "9512c765-d926-4a1f-a37b-8c0fb3c68f73",
              "name": "body.email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "e082bce6-a169-4134-9352-f3a15c683f36",
              "name": "body.phone",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "69f880c5-392b-4ffe-b9e0-3b3b26101b7f",
              "name": "body.source",
              "value": "={{ $json.body.source }}",
              "type": "string"
            },
            {
              "id": "499cf37d-b849-4b59-a484-d23de7d6b512",
              "name": "body.source2",
              "value": "={{ $json.body.source2 }}",
              "type": "string"
            },
            {
              "id": "3979586b-9b47-4cf9-8829-ed1c91ecefb8",
              "name": "body.calendar",
              "value": "={{ $json.body.calendar }}",
              "type": "string"
            },
            {
              "id": "8ea40082-a21b-4dd9-b65f-8831927e2a23",
              "name": "body.setter",
              "value": "={{ $json.body.setter }}",
              "type": "string"
            },
            {
              "id": "63ee1405-15cd-420f-a146-d699efc2d11a",
              "name": "body.opener",
              "value": "={{ $json.body.opener }}",
              "type": "string"
            },
            {
              "id": "4778d2f9-0c76-4e47-87c5-6b1800fc82ae",
              "name": "body.user",
              "value": "={{ $json.body.user }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "62eb05f5-4980-479b-af28-2a59cd929ed7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "o8ehBQPfwMb9eRPN",
          "mode": "list",
          "cachedResultUrl": "/workflow/o8ehBQPfwMb9eRPN",
          "cachedResultName": "AI Agent Regulator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.body.name }}",
            "Phone": "={{ $json.body.phone }}",
            "Email": "={{ $json.body.email }}",
            "Source": "={{ $json.body.source }} {{ $json.body.source2 }}",
            "Date": "={{ $json.body.calendar }}",
            "setter": "={{ $('Webhook').item.json.body.user }}",
            "opener": "={{ $('Webhook').item.json.body.user }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opener",
              "displayName": "opener",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "setter",
              "displayName": "setter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        608,
        0
      ],
      "id": "0538efaf-ade0-4819-8761-f917488e83f1",
      "name": "Call 'AI Agent Regulator'"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "72b03c0a-04bc-478a-9c19-70e0124bcb08",
      "name": "Wait",
      "webhookId": "c1abf48a-c755-45de-9e1c-0f7a4eb71902"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "kokoumejoshua.app.n8n.cloud",
            "user-agent": "axios/0.21.4",
            "content-length": "251",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "136.115.136.55",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9da5e8012afde91e-DFW",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "136.115.136.55, 172.71.166.106",
            "x-forwarded-host": "kokoumejoshua.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-113-7f587957c7-vd7f6",
            "x-is-trusted": "yes",
            "x-real-ip": "136.115.136.55"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "un2h1OyY6ymxwnKf8q5a",
            "name": "Samuel  Bahura",
            "email": "samylewis98@icloud.comm",
            "phone": "+49 176 61094216",
            "source": "Kennenlern-Gespräch: KC 👋🏽",
            "source2": "Paid Ads",
            "calendar": "null",
            "setter": "null",
            "opener": "null",
            "user": "Luis Güney"
          },
          "webhookUrl": "https://kokoumejoshua.app.n8n.cloud/webhook/paidghl",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'AI Agent Regulator'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "31d95ccb-8649-40b8-a8bb-4214fe73750c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4fbaace3ac72852af5561fc6af9694adddedab2a3813f8c9dd869456b6275acb"
  },
  "id": "GiGspSkStROxyQv5",
  "tags": []
}