Book A Date.json
{
  "name": "Book A Date",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61cb3757-3548-4702-97bb-9c05fef6942a",
              "name": "date",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "81aefaf6-c477-4e4b-9c32-bac2e6c94826",
              "name": "contact id",
              "value": "={{ $json['contact id'] }}",
              "type": "string"
            },
            {
              "id": "2b9f6484-d6ca-467d-9046-76f468b71172",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "981656e5-a265-481c-a19f-b5ff15905a6c",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "e7ef37bc-0b70-4d7d-8e3d-d2a4b1e55e25",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -32
      ],
      "id": "9ebc4b47-b5d7-4e12-a33a-8c9a697ab99c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "date",
              "type": "any"
            },
            {
              "name": "contact id",
              "type": "any"
            },
            {
              "name": "name"
            },
            {
              "name": "email",
              "type": "any"
            },
            {
              "name": "phone",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -176,
        -32
      ],
      "id": "741eca71-aa8e-4bdd-9644-115a66083771",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Choose among these dates:\n{{ $json['2026-01-14'].slots[0] }} {{ $json['2026-01-14'].slots[1] }}\n\n{{ $json['2026-01-21'].slots[0] }} {{ $json['2026-01-21'].slots[1] }}\n\n{{ $json['2026-01-28'].slots[0] }} {{ $json['2026-01-28'].slots[1] }}\n\nis the date of  {{ $('Edit Fields').item.json.date }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        656,
        -32
      ],
      "id": "b6d54833-5b3f-4940-a2a0-565103ab0f94",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        528,
        176
      ],
      "id": "20d9f057-4cb9-48eb-92a7-e18c1eb7e593",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "y1IauLD0d2pilCEB",
          "name": "SA-SEO"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"date output\": \"date\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        832,
        176
      ],
      "id": "68c182f9-9d19-4fac-b7d5-8004b0ccb919",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "// Read date from previous node (Date Set node)\nconst inputDate = new Date($json.date);\n\n// START DATE = beginning of the selected day\nconst startDate = new Date(inputDate);\nstartDate.setHours(0, 0, 0, 0);\n\n// END DATE = last millisecond of the same month\nconst endDate = new Date(\n  startDate.getFullYear(),\n  startDate.getMonth() + 1, // next month\n  0,                        // day 0 = last day of current month\n  23, 59, 59, 999\n);\n\nreturn {\n  startDate: startDate.getTime(), // numeric (ms)\n  endDate: endDate.getTime(),     // numeric (ms)\n  timezone: 'America/Los_Angeles'\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -32
      ],
      "id": "94e200cd-638c-4060-bc1c-e3576736db26",
      "name": "Set Correct Date"
    },
    {
      "parameters": {
        "url": "https://rest.gohighlevel.com/v1/appointments/slots",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "calendarId",
              "value": "wCdGrbaPYRyrdHDblTBq"
            },
            {
              "name": "startDate",
              "value": "={{ $json.startDate }}"
            },
            {
              "name": "endDate",
              "value": "={{ $json.endDate }}"
            },
            {
              "name": "timezone",
              "value": "America/Los_Angeles"
            },
            {
              "name": "userId",
              "value": "ESB1lwLUWqBMBgUSFPhV"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2NhdGlvbl9pZCI6IkpVYVJ4STJJeWFLbHdRVEQ3bXFyIiwiY29tcGFueV9pZCI6ImRibUhOOFpJV29ocUdsWmpZMjNvIiwidmVyc2lvbiI6MSwiaWF0IjoxNjg3MjA3NTYzOTQwLCJzdWIiOiJ1c2VyX2lkIn0.H2ylXyMZakXvSC5Fxm2zA_zlsxY5-iy2BcKPNs0-MB0"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        -32
      ],
      "id": "192ca510-61cd-4ad1-9575-6eae23b459ff",
      "name": "Look for Appointments"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rest.gohighlevel.com/v1/appointments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2NhdGlvbl9pZCI6IkpVYVJ4STJJeWFLbHdRVEQ3bXFyIiwiY29tcGFueV9pZCI6ImRibUhOOFpJV29ocUdsWmpZMjNvIiwidmVyc2lvbiI6MSwiaWF0IjoxNjg3MjA3NTYzOTQwLCJzdWIiOiJ1c2VyX2lkIn0.H2ylXyMZakXvSC5Fxm2zA_zlsxY5-iy2BcKPNs0-MB0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"calendarId\": \"wCdGrbaPYRyrdHDblTBq\",\n  \"selectedTimezone\": \"America/Los_Angeles\",\n  \"selectedSlot\": \"{{ $json.output['date output'] }}\",\n  \"email\": \"{{ $('Edit Fields').item.json.email }}\",\n  \"phone\": \"{{ $('When Executed by Another Workflow').item.json.phone }}\"\n}\n",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        -32
      ],
      "id": "6e7f2197-066c-40a8-b701-9618c53065f2",
      "name": "Set Appointments"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "date": "2026-01-08T13:32:09.034-05:00",
          "contact id": "uTHIqJBngqIRXm0ktDOr",
          "name": "Lance Longakit",
          "email": "lanzelongakit4@gmail.com",
          "phone": "+63 963 315 9717"
        }
      }
    ]
  },
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Set Correct Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Set Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Set Correct Date": {
      "main": [
        [
          {
            "node": "Look for Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Look for Appointments": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "43ebbab7-e3a9-4d0c-93cf-3b68d10a4eb3",
  "meta": {
    "instanceId": "5e7abb15966c9425356516d6683670dcd6e178c8b1fb231f1b3528ab86b345e4"
  },
  "id": "M93PGc04V8urvrzg",
  "tags": []
}