GHL Integration/Add to Contacts.json
{
  "name": "Add to Contacts",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61cb3757-3548-4702-97bb-9c05fef6942a",
              "name": "date",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "81aefaf6-c477-4e4b-9c32-bac2e6c94826",
              "name": "contact id",
              "value": "={{ $json['contact id'] }}",
              "type": "string"
            },
            {
              "id": "2b9f6484-d6ca-467d-9046-76f468b71172",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "981656e5-a265-481c-a19f-b5ff15905a6c",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "e7ef37bc-0b70-4d7d-8e3d-d2a4b1e55e25",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -32
      ],
      "id": "96a0c29b-530a-4f71-9fb2-2d28cfd12889",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "date",
              "type": "any"
            },
            {
              "name": "contact id",
              "type": "any"
            },
            {
              "name": "name"
            },
            {
              "name": "email",
              "type": "any"
            },
            {
              "name": "phone",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -176,
        -32
      ],
      "id": "c79e694b-00c5-4ba0-aee8-418edcd0a7f0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rest.gohighlevel.com/v1/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2NhdGlvbl9pZCI6IkpVYVJ4STJJeWFLbHdRVEQ3bXFyIiwiY29tcGFueV9pZCI6ImRibUhOOFpJV29ocUdsWmpZMjNvIiwidmVyc2lvbiI6MSwiaWF0IjoxNjg3MjA3NTYzOTQwLCJzdWIiOiJ1c2VyX2lkIn0.H2ylXyMZakXvSC5Fxm2zA_zlsxY5-iy2BcKPNs0-MB0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $('Edit Fields').item.json.email }}\",\n  \"phone\": \"{{ $('Edit Fields').item.json.phone }}\",\n  \"name\": \"{{ $('Edit Fields').item.json.name }}\",\n  \"tags\": [\n    \"webinar\",\n    \"{{ $('Edit Fields').item.json.date }}\"\n  ]\n}\n",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        -32
      ],
      "id": "92924330-5b94-415b-bf34-03a07fdaf4ef",
      "name": "Add to Contacts GHL"
    },
    {
      "parameters": {
        "jsCode": "// Read date from previous node (Date Set node)\nconst inputDate = new Date($json.date);\n\n// START DATE = beginning of the selected day\nconst startDate = new Date(inputDate);\nstartDate.setHours(0, 0, 0, 0);\n\n// END DATE = last millisecond of the same month\nconst endDate = new Date(\n  startDate.getFullYear(),\n  startDate.getMonth() + 1, // next month\n  0,                        // day 0 = last day of current month\n  23, 59, 59, 999\n);\n\nreturn {\n  startDate: startDate.getTime(), // numeric (ms)\n  endDate: endDate.getTime(),     // numeric (ms)\n  timezone: 'America/Los_Angeles'\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -32
      ],
      "id": "17b90dd3-b96d-4650-bc9b-7ff11ac237d8",
      "name": "Set Correct Date Status"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "date": "2026-01-08T13:32:09.034-05:00",
          "contact id": "uTHIqJBngqIRXm0ktDOr",
          "name": "Lance Longakit",
          "email": "lanzelongakit4@gmail.com",
          "phone": "+63 963 315 9717"
        }
      }
    ]
  },
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Set Correct Date Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Contacts GHL": {
      "main": [
        []
      ]
    },
    "Set Correct Date Status": {
      "main": [
        [
          {
            "node": "Add to Contacts GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "be53d6d1-3f6b-4a0a-9be8-0bd0b5526857",
  "meta": {
    "instanceId": "5e7abb15966c9425356516d6683670dcd6e178c8b1fb231f1b3528ab86b345e4"
  },
  "id": "BrtueRi4fdaekHUO",
  "tags": []
}