GHL Integration/Check Schedule.json
{
  "name": "Check Schedule",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61cb3757-3548-4702-97bb-9c05fef6942a",
              "name": "date",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "81aefaf6-c477-4e4b-9c32-bac2e6c94826",
              "name": "contact id",
              "value": "={{ $json['contact id'] }}",
              "type": "string"
            },
            {
              "id": "2b9f6484-d6ca-467d-9046-76f468b71172",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "981656e5-a265-481c-a19f-b5ff15905a6c",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "e7ef37bc-0b70-4d7d-8e3d-d2a4b1e55e25",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -32
      ],
      "id": "4347b1c9-1ed4-4f62-9986-c60215bb0f38",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "date",
              "type": "any"
            },
            {
              "name": "contact id",
              "type": "any"
            },
            {
              "name": "name"
            },
            {
              "name": "email",
              "type": "any"
            },
            {
              "name": "phone",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -176,
        -32
      ],
      "id": "91acf0a0-0e5e-492f-b708-29925abc53f1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Read date from previous node (Date Set node)\nconst inputDate = new Date($json.date);\n\n// START DATE = beginning of the selected day\nconst startDate = new Date(inputDate);\nstartDate.setHours(0, 0, 0, 0);\n\n// END DATE = last millisecond of the same month\nconst endDate = new Date(\n  startDate.getFullYear(),\n  startDate.getMonth() + 1, // next month\n  0,                        // day 0 = last day of current month\n  23, 59, 59, 999\n);\n\nreturn {\n  startDate: startDate.getTime(), // numeric (ms)\n  endDate: endDate.getTime(),     // numeric (ms)\n  timezone: 'America/Los_Angeles'\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -32
      ],
      "id": "7fda95cc-8cb4-4743-9707-1e1bfab8c4d6",
      "name": "Set Correct Date Format"
    },
    {
      "parameters": {
        "url": "https://rest.gohighlevel.com/v1/appointments/slots",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "calendarId",
              "value": "wCdGrbaPYRyrdHDblTBq"
            },
            {
              "name": "startDate",
              "value": "={{ $json.startDate }}"
            },
            {
              "name": "endDate",
              "value": "={{ $json.endDate }}"
            },
            {
              "name": "timezone",
              "value": "America/Los_Angeles"
            },
            {
              "name": "userId",
              "value": "ESB1lwLUWqBMBgUSFPhV"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2NhdGlvbl9pZCI6IkpVYVJ4STJJeWFLbHdRVEQ3bXFyIiwiY29tcGFueV9pZCI6ImRibUhOOFpJV29ocUdsWmpZMjNvIiwidmVyc2lvbiI6MSwiaWF0IjoxNjg3MjA3NTYzOTQwLCJzdWIiOiJ1c2VyX2lkIn0.H2ylXyMZakXvSC5Fxm2zA_zlsxY5-iy2BcKPNs0-MB0"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        -32
      ],
      "id": "7229cc74-52bd-44bc-bcfc-9989291d03ea",
      "name": "Look for Open Schedule"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "date": "2026-01-08T13:32:09.034-05:00",
          "contact id": "uTHIqJBngqIRXm0ktDOr",
          "name": "Lance Longakit",
          "email": "lanzelongakit4@gmail.com",
          "phone": "+63 963 315 9717"
        }
      }
    ]
  },
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Set Correct Date Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Correct Date Format": {
      "main": [
        [
          {
            "node": "Look for Open Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Look for Open Schedule": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3cda4030-78c6-4b8e-ac02-fc72ce8c5433",
  "meta": {
    "instanceId": "5e7abb15966c9425356516d6683670dcd6e178c8b1fb231f1b3528ab86b345e4"
  },
  "id": "NC5pB16jwYZYBT29",
  "tags": []
}