GoHighlevel > Slack/Sales Call Booked/Paid.json
{
  "name": "Paid",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "paid-closed",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "aeecc880-a230-4b1a-ac86-9af8436f1b14",
      "name": "Webhook",
      "webhookId": "9134365e-e7de-4113-83c4-980a88e3e406"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fb833d2-a059-42fb-9f0a-d5b4ce12cf49",
              "name": "body.name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "60f5ef56-29ae-4413-a9c7-2de71876cf44",
              "name": "body.email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "7cea7b3f-ed43-42db-ad7a-d14392b4d4e7",
              "name": "body.phone",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "25eafaad-6cd0-48c1-99f1-df7f9d2ed3f1",
              "name": "body.source",
              "value": "={{ $json.body.source }}",
              "type": "string"
            },
            {
              "id": "de71fa74-7826-476c-9e1a-db6bb914cb0e",
              "name": "body.setter",
              "value": "={{ $json.body.setter }}",
              "type": "string"
            },
            {
              "id": "c449e471-724d-4769-87c1-10ac0f1f1ba3",
              "name": "body.closer",
              "value": "={{ $json.body.user }}",
              "type": "string"
            },
            {
              "id": "7f7a87d7-e92b-46c8-9484-8b810759a647",
              "name": "body.appointment",
              "value": "={{ $json.body.appointment }}",
              "type": "string"
            },
            {
              "id": "cdf6caed-06ab-4079-ab08-9c16ca86d0b2",
              "name": "body.pipeline",
              "value": "={{ $json.body.pipeline }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "4447e8af-b53b-4360-8ae5-116fd251cecd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jV67bDj4uF5W522R",
          "mode": "list",
          "cachedResultUrl": "/workflow/jV67bDj4uF5W522R",
          "cachedResultName": "AI Agent Regulator Closing"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.body.name }}",
            "Source": "={{ $json.body.source }}",
            "Number": "={{ $json.body.phone }}",
            "Pipeline Stage": "={{ $json.body.pipeline }}",
            "Closer": "={{ $json.body.closer }}",
            "email": "={{ $json.body.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Pipeline Stage",
              "displayName": "Pipeline Stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Closer",
              "displayName": "Closer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "e75c3463-3541-44a6-9273-9c4ed5502f25",
      "name": "Call 'AI Agent Regulator Closing'"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "kokoumejoshua.app.n8n.cloud",
            "user-agent": "axios/1.13.2",
            "content-length": "232",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.69.181.235",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9db93e5abe27ead4-ORD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "traceparent": "00-3a044d49062a04b36c2b44a0c452c55c-ed4b9e679e6b67a2-01",
            "x-forwarded-for": "34.69.181.235, 172.70.126.9",
            "x-forwarded-host": "kokoumejoshua.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-113-7f587957c7-vd7f6",
            "x-is-trusted": "yes",
            "x-real-ip": "34.69.181.235"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "kMjJOFxLoSMUVycpORmI",
            "name": "Laurin Buchholz",
            "email": "ljbuchholz2008@gmail.com",
            "phone": "+49 1520 4376434",
            "source": "Organic - Blueprint",
            "setter": "null",
            "closer": "null",
            "appointment": "null",
            "pipeline": "null",
            "user": "null"
          },
          "webhookUrl": "https://kokoumejoshua.app.n8n.cloud/webhook/paid-closed",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'AI Agent Regulator Closing'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "20b451d8-0888-4e7e-9d43-b2b0ce927ed7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4fbaace3ac72852af5561fc6af9694adddedab2a3813f8c9dd869456b6275acb"
  },
  "id": "kA63in3elbJ4fkiH",
  "tags": []
}